
body {
  background-repeat: no-repeat;
  background-position: top center;
  background-color: white;
}

#logo {
  line-height: 5em;
  height: 5em;
}

#register .form-actions {
  background-color: white;
}